<style>
    .css-iframe {
        width: 100%!important;
        height: 90vh!important;
    }
    .iframe-hook{
        width: 100%;
        height: 100%;
    }
</style>
<div class="iframe-hook"></div>