<form>
    <div class="form-group">
        <label for="abTestPage">Page Url</label>
        <input type="url" class="form-control" id="abTestPage" placeholder="Enter page url to test">
    </div>
    <button type="button" class="btn btn-primary nvSubmit">Submit</button>
</form>